{% extends "base.html" %}
{% block contents %}
  
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card-header shadow p-3 text-center bg-success"> <h4 class="text-center display-6 text-white" ><em>Product Categories</em></h4></div>
                <div class="card-body my-4 ">
                    <h4 class = "fw-bold my-2">Password reset complete</h4>
                    <p class="lead my-3">Your password has been set. You may go ahead and log in now.
                    </p>
                   
                    <a href="{% url 'login'%}" class="text-decoration-none my-2">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}