{% extends "base.html" %}
{% block contents %}
  
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card-header shadow p-3 text-center bg-success"> <h4 class="text-center display-6 text-white" ><em>Product Categories</em></h4></div>
                <div class="card-body my-4 ">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        {{form.error}}
                        <div class="group d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mt-2 ">Reset my Password</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}